
svg {
    cursor:default;
}

path.chord { 
    fill-opacity: .67; 
}

circle.node {
  stroke: #fff;
  stroke-width: 1.5px;
  opacity: 0.8;
}

line.link {
  stroke: #999;
  stroke-opacity: .6;
}
body { 
    color: black; 
    background: white; 
    font: 80% "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
}
h1 { 
    font-family: arial;
}
div#qdiv { 
    font-family: arial;
}

#status {
    border:none;
    background-color:lightpink;
    border-color: white; 
    border-radius:3px; 
    border-width: 0px;
}

ul { 
    list-style-type: none; 
    padding-top : 0px; 
    padding-left: 0px; 
}
div#qdiv ul li { 
    display: inline ; 
    border:solid; 
    border-color: darkgray; 
    border-radius:3px; 
    border-width: 0px;
    padding: 5px;
    margin: 2px;
    background-color:#dbdb8d;/*rgb(240,240,240) ;*/
}
div#divinfo ul li { 
    display: inline ; 
    border:solid; 
    border-color: darkgray; 
    border-radius:3px; 
    border-width: 0px;
    padding: 5px;
    margin: 2px;
}

#query, #highlighttext {
    border-style: solid;
    padding-left:2px;
    margin-left:5px;
    border-width: 1px;
    border-color: darkgray; 
}

ul li input[type='range'] {
    vertical-align:middle;
}

#info {
    background-color: lightskyblue;
}

#wordcol{
    margin-top: -20px;
}